*.swp
target/

layers/tmp_*
layers/output
layers/rowmaps
!layers/input/README.md

__pycache__

stats19/input
stats19/tmp

gradient/input
gradient/tmp

bus_frequency/*geojson

england-latest.osm.pbf
route-snappers
uk_osm
